

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  }


body{
font-family: Arial, sans-serif;
color: #333;
background-color:  #f8f8f5;
}

/*Header*/
.header{ 
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #fff;
}

.logo h1{
  font-size: 24px;
}

.contact p{
  color: #666;

}

.header-actions{
  display: flex;
  gap: 10px;
}

.login-btn,
.get-started-btn{
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 40px;
}

.login-btn{
  background-color: #000;
  color: #fff;
}

.get-started-btn{
  background-color: #000;
  color: #fff;
}

.hero {
  text-align: center;
  padding: 50px;
}

.hero h1{
  font-size: 36px;
  margin-bottom: 10px;
}

.hero p{
  font-size:18px;
  color: #666;
  margin-bottom: 20px;
}

.email-signup{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.email-signup input{
  padding: 10px;
  width: 300px;
  border-radius: 40px;
  border: 1px solid #ccc;
}

.signup-btn{
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 40px;
  
}

.featured-plans{
  padding: 50px;
  text-align: left;
}

.featured-plans h2{
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  padding-left: 0;
  margin-left: 0;
}

.plans{
  display:flex;
  justify-content: center;
  gap: 20px;
}

.plan-card{
  width: 200px;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
}

.plan-card.green{
  background-color: #28a745;

}

.plan-card.black{
  background-color: #000;
}

.plan-card.purple{
  background-color: #6442c1;
}
.plan-card.yellow{
  background-color: #ffc107;
}
.plan-details{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.footer{
  text-align: center;
  padding: 20px 0;
background-color: #f8f9af;
color: #666;

}

.footer-links{
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.footer-link{
  text-decoration: none;

}

.footer-link:hover{
  text-decoration: underline;
}



